
.navbar-brand {
    color: brown;
    font-size: 1.5em;
}

.nav-link {
    color:darkgoldenrod;
    font-size: 1em;
}

span {
    font-size: 0.8em;
}

nav {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}